<!-- mushdash? -->

<!-- 어떠한 방식으로 코딩되어 있는지-->
<!DOCTYPE html> 
<html> 
    {{> header }}
    <body>
        <h1>{{screamIt welcomeMessage}}</h1> <!-- call scream helper with welcomeMessage -->
        <h1>Owner : {{name}}</h1>
        <p>What he likes: {{likes}}</p>

       {{> footer}}
    </body>
</html>