<!-- mushdash? -->

<!-- 어떠한 방식으로 코딩되어 있는지-->
<!DOCTYPE html> 
<html> 
    {{> header }}
    <body>
        <h1>We'll be right back</h1>
        <p>
            <p>
                The site is currently being updated.
            </p>
        </p>
    </body>
</html>